
# App + Prisma CLI
DATABASE_URL="postgresql://test:test@localhost:5432/test_db"

# Conteneur Postgres
POSTGRES_TAG=17-alpine
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test_db
POSTGRES_PORT=5432

# NestJS
NESTJS_PORT=3000
NODE_ENV=DEVELOPMENT
FRONTEND_URL=http://localhost:5173

# SMS mode api key
OTP_API_KEY=x
